body, html{
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    background-color: white;
}

.vertretungsplan-wrapper{
    width: 55%;
    height: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.vertretungsplan-wrapper > div{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.vertretungsplan-wrapper > div > iframe{
    width: 100%;
    border: none;
    outline: none;

    overflow: hidden;
}

.widgets-bus{
    background-color: white;
    height: 100%;
    width: 30%;
}

.widgets-logo{
    height: 100%;
    width: 15%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}